<div class="wrapper">
    <!-- list of users -->
    <div class="container mt-2">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">S No.</th>
                    <th scope="col">Picture</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">View</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userList; let i = index">
                    <td scope="row">{{i+1}}</td>
                    <td><img src="{{item.imageUrl}}" alt="picture" height="100px" width="100px"></td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td data-bs-toggle="tooltip"  title="{{item.isActive== true? 'Active':'InActive'}}">
                     <i [ngClass]="item.isActive== true? 'fa fa-circle fa-lg icon-green':'fa fa-circle fa-lg icon-red'"></i>
                    </td>
                    <td data-bs-toggle="modal" data-bs-target="#userModal" (click)="openUpdateModal(item)">
                        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"/>
                        <path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"/></svg>
                    </td>
                    <td data-bs-toggle="modal" data-bs-target="#userModal" (click)="openDeleteModal(item)">
                        <i class="fa fa-lg fa-trash"></i></td>
                    <td data-bs-toggle="modal" data-bs-target="#singleuserModal" (click)="openUserModal(item)">
                            <i class="fa fa-lg fa-eye"></i>
                    </td>
                  </tr>
            </tbody>
          </table>
    </div>
    <!-- edit/delete user modal -->
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header" *ngIf="showUpdateModal && !showDeleteModal">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeUpdateModal></button>
            </div>

            <div class="modal-header" *ngIf="!showUpdateModal && showDeleteModal">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeDeleteModal></button>
            </div>
             <!-- edit user body -->
            <div class="modal-body" *ngIf="showUpdateModal && !showDeleteModal">
                <form [formGroup]="editUserForm" (ngSubmit)="updateUser()">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="form-control-label">First Name</label>
                            <input type="text" class="form-control" formControlName="firstName" name="firstName"  
                            [ngClass]="{'is-invalid':(submitted && f['firstName'].errors) ||(f['firstName'].errors && f['firstName'].touched) }">
                                <div *ngIf="(submitted && f['firstName'].errors) ||(f['firstName'].errors && f['firstName'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['firstName'].errors['required']">
                                        Name is required
                                    </div>
                                    <div *ngIf="f['firstName'].errors['pattern']">
                                        Only Characters are allowed
                                      </div>
                             </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="form-control-label">Last Name</label>
                            <input type="text" class="form-control" formControlName="lastName" name="lastName"  
                            [ngClass]="{'is-invalid':(submitted && f['lastName'].errors) ||(f['lastName'].errors && f['lastName'].touched) }">
                                <div *ngIf="(submitted && f['lastName'].errors) ||(f['lastName'].errors && f['lastName'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['lastName'].errors['required']">
                                        Name is required
                                    </div>
                                    <div *ngIf="f['lastName'].errors['pattern']">
                                        Only Characters are allowed
                                      </div>
                             </div>
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="form-control-label">Email</label>
                            <input type="text" class="form-control" formControlName="email" name="email"  (change)="checkEmailExist()"  
                            [ngClass]="{'is-invalid':(submitted && f['email'].errors) ||(f['email'].errors && f['email'].touched) }">
                                <div *ngIf="(submitted && f['email'].errors) ||(f['email'].errors && f['email'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">
                                        Email is required
                                    </div>
                                    <div *ngIf="f['email'].errors['pattern']">
                                        Email address is invalid
                                      </div>
                             </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="form-control-label">Contact</label>
                            <input type="text" class="form-control" formControlName="phoneNumber" name="phoneNumber"
                            [ngClass]="{'is-invalid':(submitted && f['phoneNumber'].errors) ||(f['phoneNumber'].errors && f['phoneNumber'].touched) }">
                                <div *ngIf="(submitted && f['phoneNumber'].errors) ||(f['phoneNumber'].errors && f['phoneNumber'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['phoneNumber'].errors['required']">
                                        Contact is required
                                    </div>
                                    <div *ngIf="f['phoneNumber'].errors['pattern']">
                                        Please, Enter 10 digit Contact Number
                                    </div>
                             </div>
                            
                             
                        </div>
                        
                    </div>
        
                    
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="form-control-label">Status</label><br/>
                            <div class="form-check form-check-inline">
                            <label class="form-check-label p-0" for="active">
                            <input class="form-check-input" type="radio" formControlName="isActive" name="isActive" id="status" value="true"
                            [ngClass]="{'is-invalid':(submitted && f['isActive'].errors) ||(f['isActive'].errors && f['isActive'].touched) }">Active
                            </label>
                            </div>
                            <div class="form-check form-check-inline">
                            <label class="form-check-label p-0" for="inactive">
                            <input class="form-check-input" type="radio" formControlName="isActive" name="isActive" id="status" value="false"
                            [ngClass]="{'is-invalid':(submitted && f['isActive'].errors) ||(f['isActive'].errors && f['isActive'].touched) }">Inactive
                            </label>
                            </div>
                            <div *ngIf="(submitted && f['isActive'].errors) ||(f['isActive'].errors && f['isActive'].touched)" class="invalid-feedback">
                                <div *ngIf="f['isActive'].errors['required']">Status is required</div> 
                            </div>
                        </div>
                        <div class="form-group col-lg-12"> 
                            <label class="form-label">Image</label>
                            <div class="custom-file">
                                <input type="file" class="form-control" id="customFile" name="image" (change)="uploadAvatar($event)">
                                <label class="custom-label" for="file">{{fileName}}</label>    
                            </div>
                            
                            <div>
                                <img src="{{previewImageUrl}}" alt="picture" height="100px" width="100px">
                            </div>
                            
                        </div>
                        
                    </div>
        
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                      </div>
                </form>
            </div>
            <!-- delete user body -->
            <div class="modal-body" *ngIf="!showUpdateModal && showDeleteModal">
              <p>Are you sure you want to delete this user?</p>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="deleteUser()">Yes</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <div class="modal fade" id="singleuserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">User Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeUserModal></button>
            </div>
            <!-- delete user body -->
            <div class="modal-body" *ngIf="selectedUser">
               <div class="card">
                 <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <img class="block-center" src="{{selectedUser.imageUrl}}" alt="picture" height="auto" width="50%">
                        </div>
                        <div class="col-lg-6">First Name</div>
                        <div class="col-lg-6">{{selectedUser.firstName}}</div>

                        <div class="col-lg-6">Last Name</div>
                        <div class="col-lg-6">{{selectedUser.lastName}}</div>

                        <div class="col-lg-6">Email</div>
                        <div class="col-lg-6">{{selectedUser.email}}</div>

                        <div class="col-lg-6">Phone Number</div>
                        <div class="col-lg-6">{{selectedUser.phoneNumber}}</div>

                        <div class="col-lg-6">Status</div>
                        <div class="col-lg-6" *ngIf="selectedUser.isActive == false">InActive</div>
                        <div class="col-lg-6" *ngIf="selectedUser.isActive == true">Active</div>
                    </div>
                 </div>
               </div>
              
            </div>
            
          </div>
        </div>
      </div>
</div>
